::-webkit-scrollbar {
  width: 1px;
}

.welcome-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 1;
  animation: moveTop 2s 11s forwards;
}

.contenty {
  user-select: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5vw;
  font-family: 'verdana';
  font-weight: bold;
  letter-spacing: 20px;
  opacity: 0;
  animation: opacity 2s 2s forwards 1 ease-in-out;
  position: relative;
}



button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.contact
{
  width: 800px;
  height: 500px;
  background: black;
}

.content p {
  position: relative;
  width: 80%;
  text-align: center;
  opacity: 1;
  text-shadow: 10px 0px 2px rgba(255, 255, 255, 0.5);
  animation: textShadow 3s 4s alternate infinite;
}
.content p:before {
  content: attr(data-shadow);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) scale(2);
  filter: blur(4px);
  opacity: 0;
  animation: rightToLeft 3s 3s forwards 1 ease-in-out;
}
.content span {
  animation: backToPosition 2s 2s forwards 1 ease-in-out;
  position: relative;
  color: transparent;
}
.content span:before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 5%;
  width: 90%;
  height: 5px;
  background: white;
  opacity: 0;
  filter: blur(5px);
  animation: opacity 1s 5s alternate infinite;
}
.content span:nth-of-type(1) {
  top: -70px;
  left: -40px;
}
.content span:nth-of-type(2) {
  top: 20px;
  left: -50px;
}
.content span:nth-of-type(2):before {
  animation: opacity 1s 5.25s alternate infinite;
}
.content span:nth-of-type(3) {
  top: -50px;
  left: 0px;
}
.content span:nth-of-type(3):before {
  animation: opacity 1s 5.5s alternate infinite;
}
.content span:nth-of-type(4) {
  top: -90px;
  left: -40px;
}
.content span:nth-of-type(4):before {
  animation: opacity 1s 5.75s alternate infinite;
}
.content span:nth-of-type(5) {
  top: 100px;
  left: -10px;
}
.content span:nth-of-type(5):before {
  animation: opacity 1s 6s alternate infinite;
}
.content span:nth-of-type(6) {
  top: -60px;
  left: 20px;
}
.content span:nth-of-type(6):before {
  animation: opacity 1s 6.25s alternate infinite;
}
.content span:nth-of-type(7) {
  top: -80px;
  left: 70px;
}
.content span:nth-of-type(7):before {
  animation: opacity 1s 6.5s alternate infinite;
}

.corner {
  width: 50px;
  height: 50px;
  animation: scale 2s alternate infinite ease-in;
  filter: blur(2px);
  position: absolute;
  opacity: .1;
}
.corner:nth-of-type(1) {
  top: 2rem;
  left: 2rem;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.corner:nth-of-type(2) {
  top: 2rem;
  right: 2rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  animation-delay: 0.5s;
}
.corner:nth-of-type(3) {
  bottom: 2rem;
  left: 2rem;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  animation-delay: 1s;
}
.corner:nth-of-type(4) {
  bottom: 2rem;
  right: 2rem;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation-delay: 1.5s;
}

.continue {
  filter: blur(1px);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid white;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px white inset;
  cursor: pointer;
  background: linear-gradient(90deg, transparent 33%, white 34%, transparent 35%, transparent 65%, white 66%, transparent 67%);
  background-size: 300%;
  background-position: left;
  transition: all .5s;
  animation: opacity 2s 7s forwards 1;
  opacity: 0;
}
.continue:hover {
  background-position: right;
  color: green;
  filter: blur(0);
}

.right-vert-line {
  position: absolute;
  background: linear-gradient(transparent, green);
  opacity: 1;
  top: 0;
  bottom: 0;
  right: -5%;
  width: 2px;
  animation: moveToLeft 2s 1s forwards ease-in-out;
  filter: blur(1px);
}

.left-vert-line {
  position: absolute;
  background: linear-gradient(green, transparent);
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 105%;
  width: 2px;
  animation: moveToRight 2s 1s forwards ease-in-out;
  filter: blur(1px);
}

@keyframes moveToLeft {
  from {
    right: 0%;
  }
  50% {
    opacity: .3;
  }
  to {
    right: 100%;
    opacity: 0;
  }
}
@keyframes moveToRight {
  from {
    right: 100%;
  }
  50% {
    opacity: .3;
  }
  to {
    right: 0%;
    opacity: 0;
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    opacity: 0.9;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backToPosition {
  to {
    left: 0;
    top: 0;
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translate(-35%, 0) scale(2);
  }
  10% {
    opacity: .01;
  }
  50% {
    opacity: .5;
  }
  90% {
    opacity: .01;
  }
  100% {
    transform: translate(-65%, 0) scale(2);
    opacity: 0;
  }
}
@keyframes moveTop {
  0% {
    opacity: 1;
  }
  100% {
    top: -100%;
    bottom: 100%;
    opacity: 0;
  }
}
@keyframes textShadow {
  from {
    text-shadow: 10px 0px 2px rgba(255, 255, 255, 0.5);
    filter: blur(0px);
  }
  to {
    text-shadow: 5px 0px 2px rgba(255, 255, 255, 0.5);
    filter: blur(1px);
  }
}
.containerd {
  height: 100vh;
  /*font-family: 'Verdana';*/ 
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-left: 45%;
  margin-top: 19%;
  transform: rotateX(45deg) rotate(45deg);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  animation: opacity 1s 1s 1 forwards;
}

.icons {
  display: flex;
  align-items: center;
  transform: rotate(-45deg);
  min-width: 220px;
}

.icon {
  display: flex;
  align-items: center;
  flex: 1;
  height: 210px;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.fb {
  justify-content: flex-end;
  transition: color .4s;
}
.fb:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 100%;
  bottom: 0;
  background: #405CA1;
  transition: left .4s;
  z-index: -1;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.fb:hover {
  color: white;
}
.fb:hover:before {
  left: 0;
}

.git {
  justify-content: flex-start;
  transition: color .4s;
}
.git:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background: #24292E;
  transition: right .4s;
  z-index: -1;
}
.git:hover {
  color: white;
}
.git:hover:before {
  right: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  /*height: 100vh;*/
  /*font-family: 'Verdana';*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.navbar {
  background-color: #fff;
  margin: 10px 0 0;
  padding-left: 0;
  padding-right: 0;
}

.write-link {
  color: #1c9963;
}

.navbar-icon {
  color: rgba(0,0,0,.44);
}

.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_normal.jpg);
}
/* END: NAVBAR */
/* CONTENT */
.content {
  padding: 35px 0 0 0;
}

.card-panel {
  display: inline-block;
  margin: 30px 0 40px 0;
  width: 100%;
}
.card-panel-header {
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin-bottom: 25px;
}

.card-panel-heading {
  color: rgba(0,0,0,.8);
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.44)!important;
}

.more-link {
  rgba(0, 0, 0, 0.44);
  float:right;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.4;
}

.padding-right-10 {
  padding-right:10px!important;
}

.padding-left-10 {
  padding-left:10px!important;
}
.card-container {
  margin-bottom: 20px;
}

.card {
  display: inline-block;
  padding:20px;
  width: 350px;
  height: 400px;
  margin-right: 10px;
  border-radius: 10%;
}

#games img {
  display: block;
  margin: -20px -20px 0 -20px;
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  width: 350px;
  filter: brightness(40%);
  border-radius: 8%;
}

.img-2 {
  background-image: url("https://cdn-images-1.medium.com/max/400/1*vVU_pFSzCLQG2N97oyEnyg.jpeg") !important;
}



.card-subheading {
  color: rgba(0,0,0,.44);
  font-size: 12px!important;
  padding-top: 15px;
  padding-bottom: 5px;
}

.heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2 !important;
  max-height: 2.4em !important;
  min-height: 70px;
  margin-top: -201px;
  color: white;
  z-index: 4;
  position: relative;
  margin-left: 69px;
  text-transform: uppercase;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: auto;
}

.article-info-left {
  display: flex;
}

.profile-avatar {
  display: block;
  padding-right: 10px;
}

.avatar-image {
  width: 40px;
    height: 40px;
      display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
}

.username {
  color: rgba(0,0,0,.8);
  font-size: 12px;
}

.date, .read-time {
  color: rgba(0,0,0,.44)!important;
  font-size: 12px;
}

.bookmark-link {
  color: rgba(0,0,0,.44);
  display: inline-block;
  font-size: 19px;
  height: 24px;
  vertical-align: sub;
}

.more-options-link {
  color: rgba(0,0,0,.44);
  display: inline-block;
  font-size: 19px;
  height: 24px;
  margin-left: 6px;
  vertical-align: middle;
}
/* END: CONTENT */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html
{
  letter-spacing: .07em;
}

.but
{
  font-family: 'Montserrat', sans-serif;
  background: none;
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  line-height: 100%;
  font-style: 15px;
  color: white;
  line-height: 45px;
  position: relative;
  margin-right: 10px;
}

.but:hover
{
  border-bottom: 1px solid white;
}


header
{

  
  padding: 15px 0;
  background: black;
}

#cata
{

}

#games
{
  display: flex;
}

.gam img
{
  width: 411px;
  height: 431px;
}

.bard
{
  width: 50px;
  height: 50px;
  background: red;
  margin-right: 10px;
}


















